<!doctype html>
<html lang="es">
    <head>
        <title>Audio a texto</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.7.0/min/dropzone.min.css" integrity="sha256-AgL8yEmNfLtCpH+gYp9xqJwiDITGqcwAbI8tCfnY2lw=" crossorigin="anonymous" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.7.0/min/dropzone.min.js" integrity="sha256-OG/103wXh6XINV06JTPspzNgKNa/jnP1LjPP5Y3XQDY=" crossorigin="anonymous"></script>
    </head>
    <body class="bg-light">
        <div class="jumbotron">
            <h1 class="display-4">Transcriptor: Audio a Texto</h1>
            <p class="lead">Esta es una herramienta potenciada con Watson de IBM para convertir archivos de audio a texto, retornado en un archivo de texto plan (txt).</p>
            <hr class="my-4">
            <form method="POST" action='/upload' class="dropzone needsclick dz-clickable" 
                id="dropper" enctype="multipart/form-data">
                <div class="dz-message needsclick">
                    <button type="button" class="dz-button">Arrasta audios acá o da click para seleccionar</button><br>
                    <span class="note needsclick">(Formatos soportados: <strong>flac</strong>, <strong>mp3</strong>, <strong>wav</strong>, <strong>mpeg</strong>, <strong>ogg</strong>)</span>
                  </div>
            </form>
        </div>
        <script type="application/javascript">
            function $$(selector, context) {
                context = context || document;
                var elements = context.querySelectorAll(selector);
                return Array.prototype.slice.call(elements);
            }

            Dropzone.options.dropper = {
                paramName: 'file',
                chunking: true,
                forceChunking: true,
                url: '/upload',
                maxFiles: 1,
                maxFilesize: 1025, // megabytes
                chunkSize: 10000, // bytes
                acceptedFiles: 'audio/flac,audio/mp3,audio/wav,audio/mpeg,audio/ogg',
                addRemoveLinks: true,
                dictCancelUpload: 'Cancelar',
                dictRemoveFile: 'Borrar',
                dictCancelUploadConfirmation: 'Está a punto de parar la carga del archivo!'
            }

            Dropzone.prototype.defaultOptions.dictFileTooBig = "El archivo es demasiado grande ({{filesize}}MiB). Tamaño maximo: {{maxFilesize}}MiB.";
            Dropzone.prototype.defaultOptions.dictInvalidFileType = "No puedes subir archivos de este tipo (solo audio).";
            Dropzone.prototype.defaultOptions.dictResponseError = "Server responded with {{statusCode}} code.";
            Dropzone.prototype.defaultOptions.dictMaxFilesExceeded = "No puedes subir más archivos. Borra los otros primero.";

            $('.dz-clickable').click(() => {
                $$('.dz-remove').forEach(el => el.click()) 
            })
        </script>
    </body>
</html>

